# Welcome to EACS/PHYS 220!

### Lab 0

*Due Tuesday, January 16th, at 5:00 pm (upload .ipynb file to Lyceum)*

In this course, we will use the programming language 'Python' to analyze data and to create simple models of components of Earth's climate system. Today, we'll start to get comfortable using Python and Jupyter Notebooks.

In Jupyter Notebooks, you can use the 'Markdown' option in the dropdown menu above to write text, and the 'Code' option to write code. Check out the [Markdown Guide](https://www.markdownguide.org/basic-syntax/) for information on how to format text using Markdown.

*Below this cell, add a new Markdown cell that has some text bolded, a link to a webpage, and a list.*

**Bolded text**, [link to Google](https://www.google.com), and this itemized list 

- first item
- second item

And an enumerated list:

1. First item
2. Second item

In [1]:
# We can write text in 'Code' cells as well if we put a '#' symbol at the start of the line

#### Python Basics

There are many data types -- ways of formatting information -- in Python. We'll start with three: `str` (string), `int` (integer), and `float` (floating point number). Python will automatically guess which data type to use; you can also set a data type explicitly.

`str` is for text. You can tell Python that something should be a string by putting it in quotes.  
`int` is for integers (1, 2, 3, 4).   
`float` is Python's way of representing real numbers (1.25, 3.14, 1)

*Below this cell, use the `print()` command to output 'Hello world!'*

In [2]:
# your code here
print("Hello world!")

Hello world!

We can't do math between strings and ints...

In [3]:
# 'Hello world' + 1  # commented out so I could re-run the whole notebook

But we can do math with ints and floats:

In [4]:
1 + 2

3

In [5]:
1.1 + 2.2

3.3000000000000003

What do you think will happen if we write the code `'1' + '2'`?

In [6]:
'1' + '2'

'12'

We can assign variables to represent strings, ints, and floats (or any other data type):

In [7]:
a = 1
b = 2
c = 'Hello world'

In [8]:
a + b

3

In [9]:
# a + c  # commented out so I could re-run the whole notebook

In [10]:
d = a + b
print(d)

3

We should **always** use an informative name for our variables - this will make our code readable to ourselves and others. When relevant, we should use units in our outputs [(use metric for this course)](https://www.youtube.com/watch?v=JYqfVE-fykk&t=1s). We can use 'f-strings' to make this easy:

In [11]:
veloc = 5 # in m/s
print(f'The airspeed velocity of an unladen swallow is {veloc} m/s') # put variables in curly braces

The airspeed velocity of an unladen swallow is 5 m/s

#### Lists

A `list` object is one way to store data in Python. It contains data of any type (or mixed types) with each element separated by a comma

In [12]:
years = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023] # A list of the last 10 years
print(years)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

We can access different elements of our list using indexing. We do this by using a numerical index in square brackets. Python starts counting with 0, so to access the first element of the `years` list, we would write:

In [13]:
print(years[0])

2014

We can also create an empty list, and then append items to it manually using the `.append()` command.

In [14]:
a = []
a.append('b')
print(a)

['b']

We can also `import` a package to help us do math on our lists. NumPy is a very useful package that we will use commonly in this course.

In [15]:
import numpy

avg_year = numpy.mean(years) # tell NumPy to use the 'mean' function
print(avg_year)

2018.5

#### Loops

We can use 'loops' to iterate through a sequence (in this case, a `list`) using the following syntax:

In [16]:
for year in years: # it's common to use 'i' to save variables in for loops, but you can use whatever you want
    print(year) # this bit needs to indented by one tab to work

2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

#### Conditionals

We can use the conditional statements (`if`, `else`, and `elif`) to do something if a given statement is true or false.

In [17]:
enso_years = [2016, 2023]
for year in years:
    if year in enso_years:
        print(f'{year} is an ENSO year') # the lines under if statements need to be indented as well
    else:
        print(year)

2014
2015
2016 is an ENSO year
2017
2018
2019
2020
2021
2022
2023 is an ENSO year

Instead of iterating over the elements in a list, sometimes it's useful to iterate over the *indices* of a list:

In [18]:
for i in range(len(years)): # iterate over a list from 0 to the length of the 'year' list; we often use 'i' to represent index location
    print(f'{i} {years[i]}')

0 2014
1 2015
2 2016
3 2017
4 2018
5 2019
6 2020
7 2021
8 2022
9 2023

#### Practice Problem

Below is a list with the yearly global temperature anomaly (degrees C above a baseline interval).

In pairs, use what you have learned today to answer the following questions:

1. Are ENSO years hotter than other years? 
2. By how much?
3. Are there any issues with this analysis?

Show the code you used to get these answers. It should be well-commented and use units where possible. Each person should turn in their own assignment.

In [19]:
T_anom = [0.74, 0.9, 1.01, 0.92, 0.85, 0.97, 1.02, 0.85, 0.89, 1.48] # degrees C above average from 1951-1980 for years 2014-2023

In [23]:
# Initialize empty lists for temperature anomalies for ENSO and non-ENSO years
enso_T_anom = []
neutral_T_anom = []

# Loop through list of indexes for year and temp anomaly lists
for i in range(len(years)):
    year = years[i]  # Get year
    if year in enso_years: # If year is ENSO year, append temp anomaly (C) to ENSO anomaly list, else neutral anomaly list
        enso_T_anom.append(T_anom[i])
    else:
        neutral_T_anom.append(T_anom[i])

mean_enso = round(numpy.mean(enso_T_anom),2)  # Get mean ENSO temp anomaly (C)
mean_neutral = round(numpy.mean(neutral_T_anom),2)  # Get mean non-ENSO temp anomaly (C)
median_enso = round(numpy.median(enso_T_anom),2)  # Get median ENSO temp anomaly (C)
median_neutral = round(numpy.median(neutral_T_anom),2)  # Get median non-ENSO temp anomaly (C)

print(F"Mean of temp anomaly for ENSO years: {mean_enso} C; non-ENSO years: {mean_neutral} C")
print(F"Median of temp anomaly for ENSO years: {median_enso} C; non-ENSO years: {median_neutral} C")
print(f"Difference in mean of temp anomaly of ENSO vs non-ENSO years: {round(mean_enso - mean_neutral,2)} C")
print(f"Difference in median of temp anomaly of ENSO vs non-ENSO years: {round(median_enso - median_neutral,2)} C")

Mean of temp anomaly for ENSO years: 1.25 C; non-ENSO years: 0.89 C
Median of temp anomaly for ENSO years: 1.25 C; non-ENSO years: 0.9 C
Difference in mean of temp anomaly (C) of ENSO vs non-ENSO years: 0.36 C
Difference in median of temp anomaly (C) of ENSO vs non-ENSO years: 0.35 C

1. ENSO years do appear generally hotter than neutral years
2. The mean temperature anomaly of ENSO years is 1.245&deg;C compared to ~0.893&deg;C for neutral years&mdash;a difference of ~0.352&deg;C. Similarly, the median temperature anomaly of ENSO years is 1.245&deg;C compared to 0.895&deg;C for neutral years&mdash;a difference of ~0.350&deg;C.
3. One concern is that our sample size is small and contains only two ENSO years. The 2023 anomaly (1.48&deg;C) has a huge bearing on the mean and median of ENSO year anomalies, but it might be an outlier. Our sample is too small to tell.